{% set pagetitle = 'Authenticate using a YubiKey'|trans %}
{% extends "base.twig" %}

{% block preload %}
<link rel="stylesheet" href="{{ asset('css/yubikey.css', 'yubikey') }}">
{% endblock %}

{% block content %}
    <h2>{{ 'Authenticate using a YubiKey'|trans }}</h2>
    <img id="yubilogo" src="{{ asset('image/yubikey.png', 'yubikey') }}" alt="YubiKey"/>
    <form action="{{ moduleURL('yubikey/otp', {'AuthState': AuthState}) }}" method="post" name="f">
        <p>{{ 'In order to complete your login, you need to authenticate using a YubiKey. Please insert your YubiKey and touch it. The field below will then be filled out automatically with a secure one time password.'|trans }}</p>
        <p><input id="otp" type="password" tabindex="2" name="otp" autocomplete="one-time-code"/></p>

    {% if error is not false %}
        <div class="caution">
            <h5>{{ 'Error'|trans }}</h5>
            <p>{{ error }}</p>
        </div>
    {% endif %}
    </form>
{% endblock %}
