{% set pagetitle = '{yubikey:yubikey:authenticate}'|trans %}
{% extends "base.twig" %}

{% block content %}
    <!--<img style="float: right" src="{{ asset('img/yubikey.jpg', 'authYubiKey') }}" alt=""/>-->
    <h2>{{ '{yubikey:yubikey:authenticate}'|trans }}</h2>
    <img style="float: right; max-height: 100px" src="{{ asset('img/yubikey.png', 'authYubiKey') }}" alt="YubiKey"/>
    <form action="?" method="post" name="f">
        <p>{{ '{yubikey:otp:intro}'|trans }}</p>
        <p><input id="otp" type="text" tabindex="2" name="otp"
                  style="border: 1px solid #ccc; background: #eee; padding: .5em; font-size: medium; width: 70%;
                         color: #aaa; cursor: not-allowed" />
        </p>
    {% for name, value in params %}
        <input type="hidden" name="{{ name|escape('html') }}" value="{{ value|escape('html') }}" />
    {% endfor %}

    {% if error is not false %}
        <div class="caution"><!-- style="border-left: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8; background: #f5f5f5">-->
            <h5>{{ '{login:error_header}'|trans }}</h5>
            <p>{{ error }}</p>
        </div>
    {% endif %}
    </form>
{% endblock %}
